.card {
  width: 230px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  position: relative;
  padding: 5px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 8px 9px rgba(220, 69, 255, 0.54);
  box-shadow: 3px 3px 8px 9px rgba(220, 69, 255, 0.54);
  border-radius: 20px;
}

.Close {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 3;
  right: 0px;
}
